// default box shadow overlay (not as clear as backgroungOverlay)
@mixin overlay($color, $alpha) {
  box-shadow: inset 0 0 0 1000px rgba($color, $alpha);
}

// short transition of 0.1s
@mixin transitionShort {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

// default background overlay mixin (used for hero)
@mixin dark-overlay($color, $step) {
  &:after {
    content: "";
    width: 100%;
    height: auto;
    position: absolute;
    // bump up the content z-index to 1 or above
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba($color, $step);
  }
}

// linear gradient mixin
@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(
    legacy-direction($direction),
    $color-stops
  );
  background: linear-gradient($direction, $color-stops);
}

@mixin button($bcolor,
$url,
$x1,
$y1,
$bor,
$col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}
