@import "../../css/base/vars.scss";
@import "../../css/base/media-queries.scss";

.footer {
  background: #312f38;
  padding: 100px 0;
  color: #fff;
  position: relative;

  .footer__inner {
    max-width: 1200px;

    @include mobile-landscape-and-below {
      padding: 0 30px;
      max-width: 100%;
      margin: 0;
      div {
        flex: 0 0 100%;
        margin: 0 0 15px 0 !important;
        flex-direction: column;
      }

      img {
        margin: 0;
      }

      .flex__municipality {
        flex-direction: row;
        justify-content: flex-start;
      }
    }
  }

  .footer__borders {
    .border {
      height: 4px;
      padding: 4px;
      bottom: -6px;
      &:nth-child(1) {
        background: $primary1;
      }
      &:nth-child(2) {
        background: $primary2;
      }
      &:nth-child(3) {
        background: $primary3;
      }
      &:nth-child(4) {
        background: $primary4;
      }
    }
  }

  .footer__since {
    text-align: center;
    position: relative;
    top: 4rem;
    font-size: 14px;
    letter-spacing: 4px;
    opacity: 0.5;
  }

  .footer__desc {
    &__logo {
      max-height: 56px;
    }

    h6 {
      @include mobile-landscape-and-below {
        text-align: left;
      }
    }

    @include mobile-landscape-and-below {
      max-width: 100%;
      text-align: center;
      align-items: baseline;
    }

    p {
      line-height: 28px;
      font-size: 0.9rem;
    }

    span {
      color: #e4e4e5;
    }

    .logo__wrapper,
    .link__wrapper {
      @include mobile-landscape-and-below {
        align-items: baseline;
      }
    }

    .link__wrapper {
      @include mobile-landscape-and-below {
        text-align: left;
      }
    }
  }

  .footer__upper {
    @include mobile-landscape-and-below {
      align-items: baseline;
    }
  }

  .text__municipality {
    align-items: baseline;
  }

  .public_call {
    color: $primary3;
    text-transform: initial;
    &:hover {
      opacity: 0.7;
      transition: 0.3s easy-out;
    }
  }
  .footer__copy__right {
    font-size: 0.85rem;
  }
}
