@import "../css/base/vars";
@import "../css/base/media-queries.scss";

.single-page {
  max-width: 960px;

  @include tablet-landscape-and-below {
    width: 80% !important;
    margin: 5rem auto !important;
  }

  @include mobile-landscape-and-below {
    width: 90% !important;
  }

  .single__avatar {
    @include mobile-landscape-and-below {
      width: 100%;
      margin: 0;
    }
  }
}
