@import "../css/base/vars";
@import "../css/base/media-queries.scss";

.single-page {
  max-width: 960px;

  @include tablet-landscape-and-below {
    width: 80% !important;
    margin: 5rem auto !important;
  }
}
