@import "../../css/base/vars.scss";
@import "../../css/base/media-queries.scss";

.charts {
  .data-switch {
    position: relative;
    cursor: pointer;
    min-width: 50px;
    &.selected {
      cursor: not-allowed;
      &::after {
        content: "";
        width: 40%;
        background: $primary1;
        height: 2px;
        bottom: 0;
        left: 30%;
        position: absolute;
      }
    }
    &:not(.selected):hover::after {
      content: "";
      width: 40%;
      background: $primary1;
      height: 2px;
      bottom: 0;
      left: 30%;
      position: absolute;
    }
  }
  .legend {
    &__male {
      background-color: $primary1;
    }
    &__female {
      background-color: $primary4;
    }
  }
  &__pie,
  &__bar {
    display: flex;
    &__chart {
      height: 300px;
    }
    &__text {
      width: 50%;
      height: auto;
      align-items: center;
      line-height: 1.5;
      max-width: 60em;
      margin: 0 auto;
      font-size: 1.1em;
    }
  }
  &__pie__chart {
    text {
      font-size: 1rem !important;
    }
  }

  .about__trigger {
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease-out;
    color: $primary3;
    font-weight: 700;

    a {
      color: inherit;
    }

    &:hover {
      color: transparent;
      z-index: 20;
    }
  } // abou  trigger

  .about__gif {
    z-index: -10;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background: url("https://68.media.tumblr.com/50c12ecea11dd66afaf8c5ce3e3b270d/tumblr_olg0kxDxwU1vwrqfdo1_400.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;

    &.show {
      opacity: 1;
      z-index: 10;
    }
  }
}
