@import "../../css/base/vars";
@import "../../css/base/mixins";
@import "../../css/base/media-queries";

.hero {
  background-color: $primary5;
  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;

  .hero__inner {
    min-height: 70vh;

    @include tablet-landscape-and-below {
      padding: 2rem 3.5rem;
    }

    @include mobile-landscape-and-below {
      padding: 4rem 1rem 0 1rem;
    }
  }

  &:not(.remove-overlay)::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include linear-gradient("to bottom right", #333, #631d76);
    opacity: 0.8;
  }

  .hero__title {
    line-height: 52px;

    @include mobile-landscape-and-below {
      font-size: 1.8rem;
      line-height: 38px;
    }

    @include mobile-portrait-and-below {
      font-size: 1.4rem;
    }
  } // hero title

  .typing__block {
    .block__words {
      @include mobile-landscape-and-below {
        display: block !important;
      }
    }

    .typing {
      color: $white;
      padding: 0 10px;

      @include mobile-landscape-and-below {
        padding: 0px 1rem 0 0;
        margin: 0;
      }

      div {
        @include mobile-landscape-and-below {
          padding: 0;
        }
      }
    } // typing
  } // typing blocks
}

.hero__btn {
  cursor: not-allowed;
  opacity: 0.9;
  color: $primary3;
  font-size: 1.2rem;
  font-weight: 500;

  &--active {
    cursor: pointer;
  }

  @include mobile-portrait-and-below {
    font-size: 1rem;
  }
}

//custom form button

.form__btn {
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
  background: $primary2;
  cursor: pointer;

  &.disabled {
    opacity: 0.6;
    background: $primary5;
    cursor: not-allowed;
  }
}

.modal-form {
  .email-error {
    color: red;
    label {
      color: red;
    }
    input {
      border: 1px solid red;
    }
  }
  .success {
    color: $primary2;
  }
  .upload_button {
    background-color: $primary3;
    color: white;
    border-radius: 5px;
    &:hover {
      opacity: 0.8;
    }
  }
  .error {
    color: red;
  }
  .recptcha-wrapper {
    > div {
      display: flex;
      justify-content: center;
    }
  }
  @include tablet-portrait-and-below {
    .w-50 {
      width: 100%;
    }
    .flex {
      flex-direction: column;
    }
    .form-group {
      margin: 0;
    }

    .g-recaptcha {
      transform:scale(0.77);
      transform-origin:0 0;
    }
  };
}
