@import "../../css/base/vars";
@import "../../css/base/mixins";
@import "../../css/base/media-queries";

.hero {
  background-color: $primary5;
  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;

  .hero__inner {
    min-height: 70vh;

    @include tablet-landscape-and-below {
      padding: 2rem 3.5rem;
    }

    @include mobile-landscape-and-below {
      padding: 4rem 1rem 0 1rem;
    }
  }

  &:not(.remove-overlay)::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include linear-gradient("to bottom right", #333, #631d76);
    opacity: 0.8;
  }

  .hero__title {
    line-height: 52px;

    @include mobile-landscape-and-below {
      font-size: 1.8rem;
      line-height: 38px;
    }

    @include mobile-portrait-and-below {
      font-size: 1.4rem;
    }
  } // hero title

  .typing__block {
    .block__words {
      @include mobile-landscape-and-below {
        display: block !important;
      }
    }

    .typing {
      color: $white;
      padding: 0 10px;

      @include mobile-landscape-and-below {
        padding: 0px 1rem 0 0;
        margin: 0;
      }

      div {
        @include mobile-landscape-and-below {
          padding: 0;
        }
      }
    } // typing
  } // typing blocks
}

.hero__btn {
  cursor: not-allowed;
  opacity: 0.9;
  color: $primary3;
  font-size: 1.2rem;
  font-weight: 500;

  &--active {
    cursor: pointer;
  }

  @include mobile-portrait-and-below {
    font-size: 1rem;
  }
}

//custom form button

.form__btn {
  color: #fff !important;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  padding: 12px 20px;
  margin: 15px 0;
  border: 1px solid transparent;
  border-radius: 0;
  outline: none;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;

  background: $primary2;
  border: 1px solid $primary2;
  fill: $primary2;
  cursor: pointer;

  &:hover,
  &:hover:after,
  &.btn-fillup:after {
    background: darken($primary2, 10%);
    color: darken($primary2, 30%);
    border: 1px solid transparent;
  }

  &.disabled {
    background: #eee;
    color: #333;
    border: 1px solid #d2d2d2;
    cursor: not-allowed;

    &:hover,
    &:hover:after {
      background: #eee;
      color: #333;
    }
  }
}
