:global {
  .error__page {
    display: flex;
    margin: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #202020;
    overflow: hidden;
  }

  .code-area {
    position: absolute;
    width: 400px;
    min-width: 400px;
    top: 50%;
    left: 40%;
    -webkit-transform: translate(-25%, -85%);
    transform: translate(-25%, -85%);
  }

  .code-area > span {
    display: block;
  }

  @media screen and (max-width: 320px) {
    .code-area {
      font-size: 5vw;
      min-width: auto;
      width: 95%;
      margin: auto;
      padding: 5px;
      padding-left: 10px;
      line-height: 6.5vw;
    }
  }
}
